body {
	display: flex;
}

.contenedor{
	border: 1px solid silver;
	margin: 0px auto;
	width: 60%;
	background: blue;
	padding: 10px;
	}

.principal{
	background: yellow;
	padding: 10px;
	}

.header{
	display: flex;
}

.nombre{
	margin-left: 40px;
	width: 100%;
}

.titulo{
	border: 1px solid #0CB1BF;
	color: navy;
	background: silver;
	}

.cuerpo{
	background: #0CB1BF;
}
